h1{.Qaxorov
  font-size: 90px;
  border: 5px solid;
  font-weight: 900;
  text-align: center;
  color: darkorange;
  border: 20px solid darkorange;
  text-transform: uppercase;
  background-color: yellow;
}
h2{.Qobil
  border: 10px;
  font-size: 60px;
  font-weight:900;
  text-align: center;
  text-transform: uppercase;
  color: darkorange; 
  background-color: black;
}
.lorem/font-weight: bold;
color:black-space
.p{p}
}